<div>
  <p>Where would you like to fire?</p>
  <pre> <%= @board2 %> </pre>
  <form action="/actually_firing" Method="POST">
    <input type="text" name="coordinate">
    <input type="submit" value="Fire!">
  </form>
</div>