<div>
  <pre><%= $game.own_board_view $game.player_1 %></pre>
  <p>Time to shoot your opponent's board.</p>
  <p>Choose a co-ordinate and shoot!</p>
  <form action="/getboard">
    <input name="coord" type="text">
  </form>
  <a href='/shoot'>Shoot!</a>

</div>
