<div>
  <pre class><%= $game.own_board_view $game.player_1 %>x</pre>
  <p>Time to place your ships.</p>
  <p>Choose co-ordinates!</p>
<form action="/getboard">
  <input name="coord" type="text">
  <input type="submit" value="Place ship">
</form>
</div>
