<div>
<!--   <pre class><%= @board %></pre>

  <p>Choose more co-ordinates!</p>
<form action="/placeship">
  <input name="coord" type="text">
  <input type="submit" value="Place ship">
</form>

 -->
 <p>Hello World</p>

</div>
