<% if @visitor %>
  Welcome to Battleships, Admiral <%= @visitor %>
<% else %>
<form action="/start">
  "What's your name?"
  <input name="name" type="text">
  <input type="submit" value="Submit">
</form>
<% end %>
